@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;
    background-color: #303030;
    font-family: 'open_sansregular', sans-serif;
}

/*HEADER avec bouton "clear" DEBUT*/
header{
    position: fixed;
    top : 0;
    right: 0;
    display : none; /*----------------------------------------Ligne à activer---------------------------------------------------------------------------------------*/
}

#delete{
    padding: 10px 20px;
    margin: 5px 5px;
    background-color: red;
    color: white;
}

/*HEADER avec bouton "clear" FIN*/
/*---------------------------------------------------------------------------------------------------*/
/*SECTIONS DEBUT*/

section{
    margin: 10px auto;
}

/*SECTIONS FIN*/
/*---------------------------------------------------------------------------------------------------*/
/*Diaporama DEBUT*/

#diapo-section {
    height: 370px;
    max-width: 1200px;
    position: relative;
}

#tuto-mobile, #close-diapo{
    display: none;
}

#commandes-diapo{
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    z-index: 20;
}

#commandes-diapo i{
    line-height: 32px;
    width: 64px;
    text-align: center;
    background-color: #efefef;
    color: #303030;
    border-radius: 16px;
    border: 1px #303030 solid;
    box-shadow: 3px 3px 0px grey;
    cursor: pointer;
}

#compteur-diapo {
    font-size: 12px;
    line-height: 32px;
    width: 50px;
    background-color: #efefef;
    color: #303030;
    border: 1px #303030 solid;
    text-align: center;
    margin:0;
}

#commandes-diapo i:hover{
    color: red;
}

#commandes-diapo i:active{
    box-shadow: inset 3px 3px 0px grey;
}

#diaporama{
    height: 335px;
    width: 95%;
    margin:0 auto;
    perspective: 1600px;
    perspective-origin: center;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    z-index: 10;
    transition: all 0.5s;
}

.diapositive{
    background-color: white;
    margin: 5px;
    flex: 0 0 650px;
    width: 650px;
    height: 300px;
    padding: 10px 30px;
    border-radius: 20px;
    border-color: #303030;
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left: none;
    border-right: none;
    transition: all 0.5s;
}

.diapositive h1, .diapositive h2{
    margin: 10px auto;
    text-align: center;
}

.diapositive p, .diapositive li{
    font-size: 14px;
}

.container{
    margin:0;
    width: 100%;
    display: flex;
}

.demi-page{
    flex: 1 1 50%;
    padding: 0 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.capture{
    border: red 2px solid;
    margin: 5px auto;
    max-width: 90%;
}

.wireframe{
    border:black 2px solid;
    margin: 5px auto;
    max-width: 90%;
}

#sommaire li{
    line-height: 25px;
}

#page-plan{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
}

#tuto-1 img{
    max-height:240px;
    max-width: 100%;
    margin: 5px;
}

#tuto-1 div div:nth-child(1){
    flex: 1 1 66%;
    padding: 0 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#tuto-1 div div:nth-child(2){
    flex: 1 1 34%;
    padding: 0 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#tuto-3 img{
    max-height:300px;
    max-width: 70%;
    margin: 0 20px 0 0;
    float: left;
}

#tuto-5 img:nth-child(1), #tuto-8 img{
    max-height:300px;
    max-width: 75%;
    margin: 0 20px 0 0;
    float: left;
}

#liste-icones tr{
    margin-left: 20px;
}

#liste-icones td{
    padding-left: 20px;
    font-size: 14px;
}

.icones-mini{
    height: 28px;
}

#tuto-5 .capture{
    max-width: 25%;
}
#tuto-6 img, #tuto-7 img{
    max-height:300px;
    max-width: 75%;
    margin: 0 0 0 20px;
    float: right;
}

#tuto-9{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#tuto-9 img{
    max-width: 95%;
}

/*Diapositives (diaporama.html) FIN*/
/*---------------------------------------------------------------------------------------------------*/
/*Carte DEBUT*/

#mapSection{
    display: flex;
    margin: 0 100px;
    justify-content: center;
}

#map{
    position: relative;
    height: 550px;
    flex: 2 0 67%;
    border-radius: 20px;
    margin: 0 10px;
    z-index: 5;
}

.leaflet-popup-content{
    margin: 10px 20px 10px 10px;
    line-height: 1.2rem;
    font-family: 'open_sansregular', sans-serif;
}

.leaflet-popup-content p{
    margin: 5px 0;
}

.popup-dispo i{
    margin-right : 2px;
}

.popup-dispo .fa-parking{
    margin-left: 20px;
}

.leaflet-control-attribution{
    width:200px;
    height: 17px;
}

/*Recherche de position DEBUT*/

#search-form{
    margin: 10px 10px 0 0;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 250px;
    z-index: 1000;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 7px;
}

#query{
    height: 32px;
    border-radius: 7px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 8px;
    flex : 0 1 200px;
    margin-left: 5px;
}

#search-button{
    font-size: 12px;
    height: 32px;
    letter-spacing: 1px;
    color: white;
    background-color: #303030;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

#search-button:hover{
    color: #303030;
    background-color: white;
}

#no-results{
    position: absolute;
    margin: 0;
    width: 229px;
    font-size: 12px;
    color: red;
    left : 0;
    top : 45px;
    background-color: #efefef;
    padding: 0 5px 5px 16px;
    border-radius: 0 0 7px 7px;

}

.separateur{
    margin: 0 auto;
    width : 40%;
    border-bottom: #303030 2px solid;
}

/*Recherche de position FIN*/

/*Carte FIN*/
/*---------------------------------------------------------------------------------------------------*/
/*Détails DEBUT*/

#details {
    flex: 1 0 33%;
    border-radius: 20px;
    background-color: #efefef;
    margin: 0 10px;
}

/*Informations station DEBUT*/

#informations, #form-reservation{
    margin: 20px auto;
    max-width : 80%;
}

#informations h3{
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

#velos-dispos, #places-libres, #nameLine, #firstnameLine{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#velos-dispos .fa-bicycle, #places-libres .fa-parking{
    font-size: 150%;
    width : 40px;
}

#closed, #nobikes-messages, #signature-message{
    margin: 20px auto;
    background-color: #ffd7d7;
    color: #bf0041;
    border-radius: 7px;
    text-align: center;
    padding: 5px 20px;
}

/*Informations station FIN*/
/*---------------------------------------------------------------------------------------------------*/
/*Formulaire de réservation DEBUT*/

#nameLine, #firstnameLine{
    height: 35px;
    margin: 23px 0;
}

#nameLine label, #firstnameLine label{
    width: 80px;
}

#name-input, #firstname-input{
    height: 30px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 8px;
}

#canvas-text{/*Le parent de <canvas> NE DOIT PAS avoir une position relative => création d'un <div> (relative) pour le <p> (absolute)*/
    position: relative;
}

#canvas-text p{
    position: absolute;
    top: 10px;
    left: 15px;
    color: #8a8a8a;
    margin: 0;
    pointer-events: none;
    letter-spacing: 1px;
}

#canvas{
    /*Doc mozilla conseille d'utiliser JS pour les dimensions
    width: 280px;
    height: 98px;*/
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: white;
    margin-bottom: 12px;
}

#button-line{
    width: 270px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#resa-submit{
    font-size: 14px;
    height: 45px;
    letter-spacing: 2px;
    color: #303030;
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 0 0 0 5px;
    cursor: pointer;
}

#effacer, #retour{
    font-size: 12px;
    height: 45px;
    letter-spacing: 1px;
    color: white;
    background-color: #303030;
    border-radius: 12px;
    padding: 10px 10px;
    margin: 0 5px;
    cursor: pointer;
}

#resa-submit:hover{
    color: white;
    background-color: #31aa4e;
}

#effacer:hover, #retour:hover{
    color: #303030;
    background-color: white;
}

/*Formulaire de réservation FIN*/
/*Informations FIN*/
/*---------------------------------------------------------------------------------------------------*/
/*Etat réservation DEBUT*/

#etat-resa{
    border-radius: 20px;
    background-color: #efefef;
    min-height: 105px;
    margin: 20px auto;
    padding: 10px 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#etat-resa p{
    font-size: 14px;
    margin: 5px 10px;
    letter-spacing: 0.1em;
    text-align: center;
}

#etat-resa input{
    font-size: 14px;
    padding: 7px 14px;
    margin: 5px 10px;
    color: white;
    background-color: red;
    border-radius: 12px;
    cursor: pointer;
}

#etat-resa input:hover{
    color: red;
    background-color: white;
}

/*Etat réservation FIN*/

@media (max-width: 1200px){
    #mapSection{
        max-width: 95%;
        margin: 0 auto;
    }

    #informations, #form-reservation{
        max-width : 90%;
    }

}

@media (max-width: 1023px){
    #diapo-section{
        height: auto;
    }

    #diaporama{
        display: none;
        position: fixed;
        justify-content: space-around;
        top: 0;
        overflow: scroll;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
 }

    .diapositive{
        margin-top: 50vh;/*marge de 50% de hauteur viewport*/
        transform: translatey(-50%);/*remontée de la moitié de sa propre hauteur*/
}

    #commandes-diapo{
        display: none;
        width: 100%;
        position: fixed;
        bottom: 5%;/*marge des 3/4 de hauteur viewport*/
    }

    .fa-fast-backward, .fa-pause, .fa-play, .fa-fast-forward{
        display: none;
    }

    #tuto-mobile{
        display: block;
        width: 75%;
        margin: 0 auto;
        z-index: 1;
    }

    #tuto-mobile input{
        width: 100%;
        height: 35px;
        letter-spacing: 2px;
        background-color: #efefef;
        border-radius: 17.5px;
        cursor: pointer;
    }

    #close-diapo{
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 10px;
        font-size: 50%;
        height: 30px;
        width: 30px;
        z-index: 20;
        text-align: center;
        background-color: black;
        border: 2px white solid;
        border-radius: 100%;
        cursor: pointer;
    }

    #close-diapo i{
        color: white;
        font-size: 200%;
    }

    #mapSection{
        flex-direction: column;
    }

    #map{
        flex: 0 0 400px;
        margin : 5px;
    }

    #details{
        flex: 1 0 220px;
        margin : 5px;
        display: flex;
        justify-content: space-around;
    }

    #details p{
        font-size: 12px;
    }

    #informations, #form-reservation{
        margin: 10px auto;
        flex: 1 0 40%;
        max-width: 40%;
    }
    
    #informations h3{
        font-size: 16px;
    }

    #canvas-text p{
        top: 30px;
    }

    #canvas{
        margin-top: 20px;
    }

    #resa-submit{
        font-size: 12px;
    }

    #etat-section{
        max-width: 95%;
        margin: 0 auto;
    }

    #etat-resa{
        max-width: 1000px;
        margin: 5px;
    }
}

@media (max-width: 500px){
    #commandes-diapo{
        justify-content: space-between;
    }

    #commandes-diapo i{
        margin: 0 20px;
    }

    .diapositive{
        height: 400px;
        padding: 10px;
    }

    .diapositive h1, .diapositive h2{
        margin: 7px auto;
        font-size: 18px;
    }

    .diapositive p, .diapositive li{
        font-size: 11px;
    }

    .container{
        flex-wrap: wrap;
    }
    
    .demi-page{
        min-width: 200px;
    }

    #page-plan{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
    }

    #tuto-3 img, #tuto-5 img:nth-child(1), #tuto-8 img{
        max-height: 200px;
        max-width: 90%;
        margin: 5px;
        float: none;
    }

    #liste-icones td{
        padding-left: 10px;
        font-size: 11px;
    }

    #tuto-6 img, #tuto-7 img{
        max-width: 60%;
        margin: 0 0 0 5px;
    }

    #tuto-7 ul{
        padding-left: 10px;
    }

    #map{
        flex: 0 0 300px;
    }

    #details{
        flex-direction: column;

    }
    #informations{
        margin: 10px auto 0 auto;
        flex: 1 1 50%;
        max-width: 95%;
    }

    #form-reservation{
        margin: 0 auto 10px auto;
        flex: 1 1 50%;
        max-width: 95%;
    }

    #nameLine label, #firstnameLine label{
        width: 60px;
    }

    #nameLine{
        margin-top:3px;
    }
    #canvas{
        margin-top:0;

    }
    #canvas-text p{
        top: 10px;
    }

    #etat-resa p{
    font-size: 12px;
    }
}